.redirect-button {
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 0.1rem 2rem;
  border-radius: calc(infinity * 1px);
  color: #000;
  border: 2px solid #000;
  background-color: #f2f4f1;
  font-family: "Alata", serif;
}

.redirect-button:hover {
  background-color: #000;
  color: #f2f4f1;
}
